<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2><%= t('.common.errors') %></h2>

    <ul>
      <% resource.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>